{% extends 'layout.html' %}

{% block styleblock %}
	<style type="text/css">
        input[type=text] {
            box-sizing: border-box;
            border: 0px solid black;
            margin: 0 !important;
            text-align: center;
    </style>
{% endblock %}

{% block body %}
  <div class="container-fluied main-body">
	<div class="container-fluied row" style="margin-top:50px; margin-bottom:50px;" >
		<div class="col-sm-3"></div>
		<div class="col-sm-6  shadow resp-border" style="border-radius: 10px; ">
			{% if context['msg'] %}
			<h5 id="msg_box" style="color: whitesmoke; text-align:center;">{{context['msg']}} </h5><br>
			{% endif %}

			<div class="row justify-content-center">
				{% if sdk_board %}	
				<table id="sdk_table" style="border:3px solid black; background-color:black;">
					{% for row in range(0,9,1) %}
					{% set r = loop.index0 %}
					
					<tr>
					{% for col in range(0,9,1) %}
						{% if r%3 == 0 and r != 0 and loop.index0%3==0 and loop.index0 != 0 %}
						<td style="border-top: 3px solid black; border-left: 3px solid black; ">
						{% elif r%3 == 0 and r != 0 %}
						<td style="border-top: 3px solid black; ">
						{% elif loop.index0%3==0 and loop.index0 != 0 %}
						<td style="border-left: 3px solid black; ">
						{% else %}
						<td style="">
						{% endif %}
						{% if sdk_board[row][col] !=0 %}
						<input type="text" id="{{ row|string + col|string }}" maxlength="1"  value="{{ sdk_board[row][col] }}" size="1" readonly style="width: 30px; height: 30px; background-color: black!important; color: white!important; ">
						{% else %}

						<input type="text" id="{{row|string + col|string}}" maxlength="1"  value="" size="1" onclick="this.select()" style="width: 30px; height: 30px; "  oninput="onlyNumberKey(event)">
						{% endif %}
						</td>
					{% endfor %}
					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</div>
								
			<div class="row container mt-5">
				<div class="col-md-4">
					<input type="button" name="submit" class="btn btn-grad btn-block" value="SOLUTION" id="cal-age" onclick="solution()">
				</div>
				<div class="col-md-4">
					<a href="{{url_for('sudoku.home')}}" class="btn btn-grad btn-block">NEW GAME</a>
				</div>	
				<div class="col-md-4">
					<a href="{{url_for('sudoku.your_sudoku')}}" class="btn btn-grad btn-block">YOUR SUDOKU</a>	
				</div>
			</div>
			
		</div>
		<div class="col-sm-3"></div><br>
	</div>

	<div class="container-fluied" style="overflow-x: hidden; margin-top: 0px; margin-bottom:50px;">
		<div class="row" style="" >
			<div class="col-sm-3"></div>
			<div class="col-sm-6 justify-content-center shadow" style="border-radius: 10px;">
				<div style="padding-left: 10px; padding-right: 10px; text-align: center;">
				
				{% if context['instruction'] %}
		    	  {{context['instruction']|safe}}			    	
			    {% endif %}
			    
			    <h4>How To Play Sudoku?</h4>
			    <p style="text-align:center;">Sudoku is collection of 9 rows and 9 columns and this 9*9 matrix is divided in 9 matrix of 3*3 matrix.Ecach row,column and 3*3 matrix needs to be filled out with numbers from 1 to 9, without repeating any numbers within row, column and in 3*3 matrix.
			    </p>
			    <h4>For better understandin look at bellow image</h4>
			    <img src="{{ url_for('static', filename='img/how_to_use_sudoku.png') }}" alt="how to solve sudoku" style="width:100%; padding-top:10px; padding-bottom: 10px;">
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
  </div>
{% endblock %}

{% block scriptblock %}
	<script type="text/javascript">
    // const myconverter = {'97':1,'98':2,'99':3,'100':4,'101':5,'102':6,'103':7,'104':8,'105':9};
    let sdk = {{ sdk_board }};

    function check_sudoku_completed(sdk, num){
        for(let i=0; i<9; i++){
            for(let j=0; j<9; j++){
                if(sdk[i][j]==0){
                    return false
                }
            }
           
        }
        return true
    }

    function check_number_can_be_fill(sdk,row=0,col=0,num){
        for(x=0;x<9;x++){
            if (sdk[row][x]==num){
                return false;
            }
        }
        for(x=0;x<9;x++){
            if (sdk[x][col]==num){
                return false;
            }
        }

        let startrow = row - row%3
        let startcol = col - col%3

        for(i=0;i<3;i++){
            for(j=0;j<3;j++){
                if (sdk[startrow+i][startcol+j] == num){
                    return false
                }
            }
        }
    return true;
    };

    function onlyNumberKey(event) {
        let ASCIICode = event.target.value
        let indx = event.target.id;
        let row = parseInt(indx[0])
        let col = parseInt(indx[1])
        if (ASCIICode!=''){
            if ("123456789".includes(ASCIICode)){
                let num = parseInt(ASCIICode)
                if(check_number_can_be_fill(sdk,row,col,num)){
                    sdk[row][col] = num;
                    // check does sudoku has been completed
                    if (check_sudoku_completed(sdk)){
                        document.getElementById(indx).value = num;
                        document.getElementById('msg_box').innerHTML= "Congratulation You Solved The Sudoku!!!"
                        document.getElementById('sdk_table').style.border = "3px solid blue"
                        for(let i=0; i<9; i++){
                            for(let j=0; j<9; j++){ document.getElementById(String(i)+String(j)).readOnly = true;}
                        }
                        return true;
                    }
                    return true;
                }
                else{
                    sdk[row][col] = 0;
                    document.getElementById(indx).value = '';
                    return false
                }
            }
            else{
                sdk[row][col] = 0;
                document.getElementById(indx).value = '';
                return false
            }
        }
        sdk[row][col] = 0;
    };

    function solution(){
        $.getJSON('/sudoku/solution', {
        sdk_box: JSON.stringify(sdk)
        }, function(data){
            if (data['msg'] == 'worked'){
                for(i=0;i<9;i++){
                    for(j=0;j<9;j++){
                        $("#"+String(i)+String(j)).val(data['sdk'][i][j])
                    }
                }  
            }
            else{
                document.getElementById('msg_box').innerHTML = data['msg']
            }       
        });
    };
</script>
{% endblock %}